 /*Header for logo */
.header-logo{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.homelogo{
  width: 400px;
  height: 50px;
}

#search-icon{
  width: 17px;
  height: 17px;
  cursor: pointer;
}


/* CSS for topbar */
.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
  height: 117px;
}

.topbar-left{
  display: flex;
  width: 200px;
  justify-content: space-between;
}


.homenabout{
    font-family: 'playfair-display';
    font-size: 21px;
}

#breakline{
  margin: 0;
}

/* CSS for Spotlight showcase */
.spotlight{
  width: 50vw;
  height: 50vh;
}

.heading-title{
  font-family:'playfair-display';
  font-size: 30px;
}

#beige{
  background-color: #f8f8f8;
}

/* CSS for filters and sorting */
#svg1{
  height: 20px;
  width: 20px;
}

#svg2{
  height: 13px;
  width: 13px;
}

/* CSS for products showcase */
.products{
  display: grid;
  grid-template-columns: repeat(4, 21vw);
  grid-row-gap: 150px;
  justify-content: center;
}

.productimg{
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
}

.product_title{
  font-family: 'playfair-display';
  font-size: 20px;
}

@media (max-width: 1563px) {
  .products{
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    justify-content: center;
  }

  .productimg{
    background-color: #f8f8f8;
    width: 100%;
    height: 80%;
  }

  .invisible {
    display: none;
  }

  .seemorebutton{
    margin-top: 70px;
  }
}

/* CSS for load more and see more buttons */
.invisible{
  height: 200px;
}

.seemorebutton {
  background-color: white;
  border: solid;
  border-width: 1px;
  padding: 20px;
  font-family: 'playfair-display';
  text-align: center;
  font-size: 16PX;
  width: 150px;
}

.seemorebutton:hover {
  background-color: #f8f8f8;
}

/*CSS for mangata treasures*/
.playfair {
  font-family: 'playfair-display';
  font-size: 20px;
}

.creation-title{
  font-size: 50px;
  font-weight: lighter;
}

article {
  cursor: pointer;
  background-color: #f8f8f8;
}

/* CSS for Delivery Order Info */
.delivery-order-container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 20vw);
}


.delivery-order-section{
  display: flex;
  align-items: center;
  font-family: "playfair-display";
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
}

.delivery-order-section p:first-of-type {
  font-size: larger;
  font-weight: 600;
}

.delivery-order-section p:last-of-type{
  font-size: large;
}
.delivery-order-icon{
  width: 20px;
  height: 20px;
}

@media (max-width:1563px) {
  .delivery-order-container{
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    row-gap: 15px;
  }
}

/* CSS for footer elements */
.footer-element{
  background-color: #ece6d7;
}

/* CSS for button to top */
.back-to-top{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#arrowup{
  width: 30px;
  height: 30px;
}

/* CSS for newsletter */
.newsletter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "playfair-display";
  height: 300px;
  row-gap: 15px;
}

.email-submit{
  width: 300px;
  height: 50px;
}

.submit-button{
  border: none;
  background-color: #012969;
  width: 150px;
  color: white;
}

/* Copyright Section CSS */
.copyright-section{
  height: 100px;
  background-color:#ece6d7;
  display: flex;
  justify-content:center;
  align-items: center;
}

.footer-logo-section{
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.copyright-text-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}


#footer-logo-1{
  width: 50%;
  height: 100%;
}

#footer-logo-2{
  width: 25%;
  height: 75%;

}

#copyright{
  width: 15px;
  height: 15px;
}